<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--@BeforeSuite-->
<suite name="Suite1" verbose="1">
    <!--@BeforeTest-->
    <test name="google1">
        <classes>
            <!--@BeforeClass-->
            <class name="org.prog.cucumber.CucumberRunner"/><!--@BeforeMethod-->
        </classes>
    </test>
</suite>